{{extend 'pwlayout.html'}}
<div class="jumbotron">
    <h1>Paywall Breaker</h1>
    <p>Break the paywall and be free!</p>
    <form class="form-horizontal" action="{{=URL('index')}}" method="get">
        <div class="input-group">
            <input class="form-control" type="text" name="url" id="i_url" placeholder="Insert URL here..." required>
            <div class="input-group-btn">
                <button type="submit" class="btn btn-danger">Break</button>
            </div>
        </div>
    </form>
</div>

{{if issubmit == True:}}

<div class="container-fluid">
    <p>
        URL original: <span>{{=url}}</span>
    </p>
</div>

<div id="container" class="container-fluid">
    {{include '/web/web2py/applications/paywall/static/pages/' + filename}}
</div>

{{pass}}
