{{extend 'pwlayout.html'}}
<script>
    window.addEventListener('touchstart', {});
</script>
<style>
    .jumbotron {
    background-color: #f4511e; /* Orange */
    color: #ffffff;
    }

    /* smartphones */
    @media only screen and (max-width: 767px) {
        .resp-container {
            position: relative;
            overflow: hidden;
            height: 100%;
            width: 100%;
            -webkit-overflow-scrolling: touch;
            overflow-y: scroll;
        }

        .resp-container-collapsed {
            padding-top:90%;
        }

        .resp-container-expanded {
            padding-top:150%;
        }
    }

    /* tablets */
    @media only screen and (min-width: 768px) {
        .resp-container {
            position: relative;
            overflow: hidden;
            height: 100%;
            width: 100%;
            -webkit-overflow-scrolling: touch;
            overflow-y: scroll;
        }

        .resp-container-collapsed {
            padding-top:75%;
        }

        .resp-container-expanded {
            padding-top:120%;
        }
    }

    /* desktop */
    @media only screen and (min-width: 901px) {
        .resp-container {
            position: relative;
            overflow: hidden;
            height: 100%;
            width: 100%;
            padding-top: 50%;
        }

        .resp-container-collapsed {

        }

        .resp-container-expanded {

        }
    }

    .resp-iframe {
        position: absolute;
        left: 0;
        top: 0;
        border: 0;
        height: 100%;
        width: 100%;
    }

    .resp-button {
        position: relative;
    }

</style>

<div class="jumbotron text-center collapse show" id="jumbo">
    <h1>Paywall Breaker</h1>
    <p>Break the paywall and be free!</p>
    <form class="form-horizontal" action="{{=URL('index')}}" method="get">
        <div class="input-group">
            <input class="form-control" type="text" name="url" id="i_url" placeholder="URL" required>
            <div class="input-group-btn">
                <button type="submit" class="btn btn-danger">Break</button>
            </div>
        </div>
    </form>
</div>


<button id="hide" class="btn btn-danger" type="button" data-toggle="collapse" data-target="#jumbo" aria-expanded="false" aria-controls="jumbo">Expandir</button>

{{if issubmit == True:}}

<div id="container" class="resp-container resp-container-collapsed">
    <iframe class="resp-iframe" frameborder="0" allow="autoplay" allowfullscreen src="{{=URL('static',filename)}}"></iframe>
</div>

{{pass}}
