{{extend 'pwlayout.html'}}
<div class="jumbotron">
    <h1>Paywall Breaker</h1>
    <p>Break the paywall and be free!</p>
    <form class="form-horizontal" action="{{=URL('index')}}" method="get">
        <div class="input-group">
            <input class="form-control" type="text" name="url" id="i_url" placeholder="Insert URL here..." required>
            <div class="input-group-btn">
                <button type="submit" class="btn btn-danger">Break</button>
            </div>
        </div>
    </form>
</div>

<!--<button id="hide" class="btn btn-danger" type="button" data-toggle="collapse" data-target="#jumbo" aria-expanded="false" aria-controls="jumbo">Expandir</button>-->

{{if issubmit == True:}}

<div id="container" class="container-fluid">
    <!--<iframe class="resp-iframe" frameborder="0" allow="autoplay" allowfullscreen src="{{=URL('static',filename)}}"></iframe>-->
    {{include '/web/web2py/applications/paywall/static/pages/' + filename}}
</div>

{{pass}}
